body {
  /* background-color: #1565c0; */
  background-color: #182B3A

}

#title{
  color: #fb8c00
  /* color: #EB4511 */
}

input {
  color: #FDFFFC
}

.info-text {
  color: #FDFFFC
}



#title{
font-family: 'Pattaya', sans-serif;

}
