body {
  /* background-color: #1565c0; */
  background-color: #182B3A

}

#title{
  color: #fb8c00
}

#title{
  margin-bottom: 80px;
}

input {
  color: #FDFFFC
}

.info-text {
  color: #FDFFFC
}



#title{
font-family: 'Pattaya', sans-serif;

}


#iWant {
   margin-bottom: 40px;
 }

 #instructions{
   margin-bottom: 80px
 }
