body {
  /* background-color: #1565c0; */
  background-color: #182B3A

}

#title{
  color: #fb8c00;
  margin-bottom: 80px;
}

#text_inline{
  margin-top: 50;
}

input {
  color: #FDFFFC
}

.info-text {
  color: #FDFFFC
}



#title{
font-family: 'Pattaya', sans-serif;
margin-top: 100px;

}

#challengeSubmit{
margin-top: 50px;
}

#challengeInput{
  margin-top: 100px;
  display: inline-block;
}

#weekGoal{
  color: #FDFFFC
}
